* {
  font-family: 'Montserrat', sans-serif;
}

.container {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 10px 0;
}

.container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.book-list {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10%;
}

.book-form {
  border-bottom: 1px solid black;
  margin-top: 2%;
}

.book-form form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
